.Projects {
    padding: 40px;
    height: 100vh;
    position: relative;
}

.Content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Title {
    font-family: 'Roboto';
    font-size: 3rem;
    font-weight: normal;
    color: #1E1E24;
    margin-top: 0;
    margin-bottom: 16px;
    text-align: center;
}

.Description {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin-bottom: 16px;
    font-family: 'Roboto';
    font-size: 1.5rem;
    color: #1E1E24;
}

.Description p {
    margin: 0;
    opacity: 80%;
    text-align: center;
}

.ProjectsDisplay {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    gap: 20px;
    max-width: 1575px;
}