.Project {
    padding: 32px;
}

.CoverImg {
    width: 100%;
    max-width: 420px;
    max-height: 280px;
    border: 1px solid var(--secondary-color);
    border-radius: 5%;
    -webkit-transition: -webkit-filter 0.5s ease;
    transition: -webkit-filter 0.5s ease;
    -o-transition: filter 0.5s ease;
    transition: filter 0.5s ease;
    transition: filter 0.5s ease, -webkit-filter 0.5s ease;
}

.ProjectTitle {
    width: 100%;
    font-size: 1.5rem;
    font-weight: normal;
    color: #2D5446;
    text-decoration: none;
    pointer-events: none;
    position: absolute;
    left: 0;
    bottom: -36px;
    -webkit-transition-property: color, bottom;
    -o-transition-property: color, bottom;
    transition-property: color, bottom;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.Overlay {
    border-radius: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    position: relative;
}

.LearnMore {
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}
.LearnMore button {
    width: 128px;
    height: 35px;
    position: absolute;
    bottom: 10px;
    -webkit-transition-property: bottom, background-color;
    -o-transition-property: bottom, background-color;
    transition-property: bottom, background-color;
    -webkit-transition: bottom 0.5s ease, background-color 0.25s ease;
    -o-transition: bottom 0.5s ease, background-color 0.25s ease;
    transition: bottom 0.5s ease, background-color 0.25s ease;
    cursor: pointer;
    background-color: var(--accent-color);
    color: var(--primary-color);
    font-size: 1.1rem;
    outline: none;
    border: 1.5px solid var(--secondary-color);
    border-radius: 5%;
}

.Overlay:hover .LearnMore button {
    bottom: 115px;
}

.Overlay:hover .LearnMore {
    opacity: 1;
}

.LearnMore button:hover {
    background-color: #2D5446;
}

.Overlay:hover img {
    -webkit-filter: brightness(0.5);
            filter: brightness(0.5);
}

.Overlay:hover .ProjectTitle {
    bottom: 25%;
    color: var(--primary-color);
}

.CoverImgWrapper {
    cursor: pointer;
}

@media (max-width: 576px) {
    .Overlay:hover img {
        -webkit-filter: none;
                filter: none;
    }

    .Overlay:hover .ProjectTitle {
        bottom: -36px;
        color: #2D5446;

    }

    .LearnMore {
        display: none;
    }
}