.Carousel {
    position: relative;
    height: var(--base-carousel-height);
    max-height: var(--max-carousel-height);
}

.Carousel .Exit {
    top: 0;
    right: 0;
}

.ImgArrowPrev {
    left: 0;
}

.ImgArrowNext {
    right: 0;
}

.ImgArrowPrev, .ImgArrowNext, .Exit {
    position: absolute;
    bottom: 0px;
    cursor: pointer;
    padding: 10px;
}

.ImgArrowPrev path, .ImgArrowNext path, .Exit path {
    -webkit-transition: fill 0.25s ease;
    -o-transition: fill 0.25s ease;
    transition: fill 0.25s ease;
}

.ImgArrowPrev:hover path, .ImgArrowNext:hover path, .Exit:hover path {
    fill: #A6A2A3 !important;
}