.Skill {
    height: 32px;
    margin: 16px 0;
    background-color: #D9D4D6;
    text-align: end;
    position: relative;
}

.Label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100px;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    align-items: center;
    background-color: #55A185;
    float: left;
    color: var(--primary-color);
}

span {
    position: absolute;
    right: 8px;
    font-size: 1.25rem;
    bottom: 0;
}

.Confidence {
    float: left;
    color: transparent;
    width: calc(100% - 100px);
    height: 100%;
}

.Bar {
    width: var(--width);
    height: 100%;
}

.BarAnimation {
    -webkit-animation-name: progress;
            animation-name: progress;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    background-color: #417A65;
}

@media (max-width: 576px) {
    span {
        display: none;
    }
}

@-webkit-keyframes progress {
    from {width: 0;}
    to {width: var(--width);}
}

@keyframes progress {
    from {width: 0;}
    to {width: var(--width);}
}