:root {
    --max-detail-width: 600px;
    --min-detail-height: 750px;
    --base-detail-width: 90vw;
    --base-detail-height: calc(1000px - 40vw);
    --base-carousel-height: calc(var(--base-detail-width) * .67);
    --max-carousel-height: calc(var(--max-detail-width ) * .67);
}

.Detail {
    border: 0.5px solid #1E1E24;
    background-color: white;
    margin: 20px auto;
    width: var(--base-detail-width);
    height: var(--base-detail-height);
    max-width: var(--max-detail-width);
    min-height: var(--min-detail-height);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 12vh;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    transition-property: opacity, transform;
    transition: all 0.5s ease;
}

.Carousel {
    position: relative;
    height: var(--base-carousel-height);
    max-height: var(--max-carousel-height);
}

.Carousel .Slide {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-bottom: 1px solid #1E1E24;
}

.Carousel .Exit {
    top: 10px;
    right: 10px;
}

.ImgArrowPrev {
    left: 10px;
}

.ImgArrowNext {
    right: 10px;
}

.ImgArrowPrev, .ImgArrowNext, .Exit {
    position: absolute;
    bottom: 10px;
    cursor: pointer;
}

.ImgArrowPrev path, .ImgArrowNext path, .Exit path {
    transition: fill 0.5s ease;
}

.ImgArrowPrev:hover path, .ImgArrowNext:hover path, .Exit:hover path {
    fill: #A6A2A3;
}

.MainContent {
    box-sizing: border-box;
    border: 3px solid orange;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Description {
    box-sizing: border-box;
    border: 2px solid red;
    flex: 1;
    padding: 16px;
}

.Open {
    opacity: 1;
    transform: scale(1);
}

.Close {
    opacity: 0;
    transform: scale(0);
}

.ProjectTitle {
    font-family: 'Roboto';
    font-size: 1.75rem;
    font-weight: normal;
    color: #4E937A;
    text-align: left;
}

.ProjectSummary {
    font-family: 'Roboto';
    font-size: 1.2rem;
    font-weight: lighter;
    color: #1E1E24;
    text-align: left;
}

.BorderBottom {
    margin-top: 10px;
    border-bottom: 1px solid #4E937A;
}