.Toolbar {
    height: 48px;
    width: 100%;
    position: fixed;
    background-color: var(--accent-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 2px solid var(--secondary-color);
    z-index: 3;
}

@media (max-width: 576px) {
    .DesktopOnly {
        display: none;
    }
}