.SideDrawer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #8C898A;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    text-align: left;
    padding: 16px;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    z-index: 2;
    border-bottom: 2px solid var(--secondary-color);
}

.SideDrawer nav {
    height: 153px;
}

@media (min-width: 768px) {
    .SideDrawer {
        display: none;
    }
}

.Open {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}

.Close {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
}