.Input {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 12px;
}

.Label {
    font-size: 1rem;
    color: #1E1E24;
    display: block;
    margin-bottom: 12px;
}

.InputElement {
    box-sizing: border-box;
    width: 100%;
    display: block;
    border: 1px solid #1E1E24;
    border-radius: 4px;
    background-color: var(--primary-color);
    padding: 8px;
    font-size: 1rem;
}

.Send {
    width: 25%;
    margin: 0 auto;
}

.Send input {
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color-dark);
    color: var(--primary-color);
    cursor: pointer;
    transition: background-color 0.25s ease;
}

.Send input:hover {
    background-color: #2D5446;
}