.Input {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 12px;
}

.Label {
    font-family: 'Roboto';
    font-size: 1rem;
    color: #1E1E24;
    display: block;
    margin-bottom: 12px;
}

.InputElement {
    box-sizing: border-box;
    width: 100%;
    display: block;
    border: 1px solid #1E1E24;
    border-radius: 4px;
    background-color: var(--primary-color);
    padding: 8px;
    font-size: 1rem;
    font-family: 'Roboto';
}

.Send {
    width: 25%;
    margin: 0 auto;
}