.Input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    margin-bottom: 12px;
}

.Label {
    font-size: 1rem;
    color: var(--secondary-color);
    display: block;
    margin-bottom: 12px;
}

.InputElement {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    display: block;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    background-color: var(--primary-color);
    padding: 8px;
    font-size: 1rem;
}

/* input[type="submit"] {
    -webkit-appearance: none;
} */