.NavigationItem {
    font-weight: normal;
    font-size: 1.125rem;
    color: var(--primary-color);
    cursor: pointer;
    transition: color 0.3s ease;
}

.NavigationItem:hover, .active {
    color: #1E1E24 !important;
}

@media (max-width: 576px) {
    .NavigationItem {
        margin: 8px 0;
    }
}