.SideDrawer {
    display: flex;
    background-color: #8C898A;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    text-align: left;
    padding: 16px;
    border-bottom: 2px solid #1E1E24;
    transition: transform 0.3s ease-out;
}

.SideDrawer nav {
    height: fit-content;
}

@media (min-width: 576px) {
    .SideDrawer {
        display: none;
    }
}

.Open {
    transform: translateY(0);
    z-index: 3;
}

.Close {
    transform: translateY(-100%);
    z-index: 0;
}