.Project img {
    width: 100%;
    max-width: 420px;
    max-height: 280px;
    border: 1px solid #1E1E24;
    border-radius: 5%;
}

.Project .ProjectTitle {
    width: 100%;
    font-family: 'Roboto';
    font-size: 1.5rem;
    font-weight: normal;
    color: #2D5446;
}