.Name {
    font-family: "Roboto";
    font-size: 1.5rem;
    color: #E6E1E2;
    cursor: pointer;
    width: 100%;
    padding-left: 16px;
    display: none;
    transition: color 0.5s ease;
}

.Name:hover {
    color: #1E1E24;
}

@media (max-width: 576px) {
    .Name {
        display: flex;
    }
}