:root {
    --greeting-font-size: 3.5rem;
    --summary-font-size: 2rem;
}

.Home {
    height: 100vh;
    text-align: center;
    position: relative;
}

.MainContent {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ProfilePic {
    width: 300px;
    height: 200px;
}

.Greeting {
    margin: 5px auto;
    font-size: var(--greeting-font-size);
    color: var(--secondary-color);
}

.Summary {
    font-size: var(--summary-font-size);
    color: var(--secondary-color);
    opacity: 80%;
    margin: 4px auto;
    max-width: 600px;
}

.Start {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.Start button {
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
    background-color: var(--accent-color);
    color: var(--primary-color);
    text-align: left;
    padding-left: 16px;
    font-weight: lighter;
    border-radius: 5%;
    border: 2px solid var(--secondary-color);
    outline: none;
    cursor: pointer;
    transition: background-color 0.25s ease;
}

.Start button:hover {
    background-color: #2D5446;
}

/* .SocialLinks {
    display: flex;
    justify-content: space-between;
    width: 110px;
    margin: 20px auto;
} */