:root {
    --greeting-font-size: 4rem;
    --summary-font-size: 1.5rem;
}

.Home {
    padding-bottom: 915px;
    text-align: center;
    position: relative;
}

.MainContent {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.ProfilePic {
    width: 300px;
    height: 200px;
}

.Greeting {
    margin: 5px auto;
    font-size: var(--greeting-font-size);
    color: var(--secondary-color);
}

.Summary {
    font-size: var(--summary-font-size);
    color: var(--secondary-color);
    opacity: 0.8;
    margin: 4px auto;
    max-width: 600px;
}

.Start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 8px;
}

.Start button {
    position: relative;
    width: 200px;
    height: 50px;
    font-size: var(--summary-font-size);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: left;
    padding-left: 16px;
    font-weight: lighter;
    border: 2px solid var(--secondary-color);
    outline: none;
    cursor: pointer;
    -webkit-transition-property: background-color, border, color;
    -o-transition-property: background-color, border, color;
    transition-property: background-color, border, color;
    -webkit-transition: background-color 0.25s ease, border 0.25s ease, color 0.25s ease;
    -o-transition: background-color 0.25s ease, border 0.25s ease, color 0.25s ease;
    transition: background-color 0.25s ease, border 0.25s ease, color 0.25s ease;
}

.Start button:hover {
    background-color: var(--accent-color);
    border: 2px solid transparent;
    color: var(--primary-color);
}

.Start button:hover .Arrow {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}

.Start button svg g > * {
    -webkit-transition: fill 0.25s ease;
    -o-transition: fill 0.25s ease;
    transition: fill 0.25s ease;
}

.Start button:hover svg g > * {
    fill: var(--primary-color);
}

.Arrow {
    position: absolute;
    left: 75%;
    top: 28%;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

@media (min-width: 0px) and (max-width: 767px) {
    .Greeting {
        font-size: calc(var(--greeting-font-size) * .75);
    }

    .Summary {
        font-size: calc(var(--summary-font-size) * .75);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .Greeting {
        font-size: calc(var(--greeting-font-size) * .8);
    }

    .Summary {
        font-size: calc(var(--summary-font-size) * .8);
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .Greeting {
        font-size: calc(var(--greeting-font-size) * .9);
    }

    .Summary {
        font-size: calc(var(--summary-font-size) * .9);
    }
}