.Footer {
    display: flex;
    position: absolute;
    bottom: 0;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    width: 100%;
    min-height: 80px;
    border-top: 2px solid var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.SocialLinks {
    display: flex;
    gap: 16px;
}

.SocialLinks svg {
    cursor: pointer;
}

.CopyRight {
    color: var(--secondary-color);
    margin-top: 10px;
    margin-bottom: 10px;
}

.Back {
    position: relative;
    bottom: 24px;
    cursor: pointer;
}

.Back .Box {
    transition: fill 0.25s ease;
}

.Back:hover .Box {
    fill: #CCC8C9;
}