:root {
  --primary-color: #E6E1E2;
  --secondary-color: #1E1E24;
  --accent-color: #4E937A;
  --heading-font-size: 3rem;
  --sub-heading-font-size: 1.5rem;
}

body, textarea {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
  text-rendering: optimizeLegibility;
}