:root {
  --primary-color: #E6E1E2;
  --primary-color-dark: #1E1E24;
  --secondary-color: #4E937A;
}

body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
}